#experience {
    margin: 80px 0;
    background: #d1ff9f;
}

.title h2 {
    margin-top: 80px;
}

.skills {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    padding-bottom: 90px;
}

.skills li {
    position: relative;
    list-style: none;
}

.skills li a {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 30px;
    border-radius: 50%;
    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2),
                4px 5px 7px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    color: var(--green-dark);
    cursor: default;
}

.skills li a:hover {
    color: var(--black);
    transform: translateY(-20px);
    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2),
    2px 24px 10px rgba(0, 0, 0, 0.1);  
}

.skills li a:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    border: 2px solid var(--green-dark);
}

.skills li a .fa-brands {
    position: relative;
    z-index: 1;
}


@media screen and (max-width: 710px) {
    .skills {
        flex-wrap: wrap;
    }
    .skills li {
        margin: 10px 0;
    }
}