.App{
    overflow: hidden;
    color: #010116;  
}

.button {
  border-radius: 30px;
  border: none;
  color: #010116;
  font-weight: 600;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
  background: linear-gradient(180deg, rgb(167, 244, 66) 25.71%, rgb(181, 251, 128) 99.36%);
  box-shadow: 9px 5px 15px 1px rgba(216, 216, 216, 0.45);
  cursor: pointer;
}

.button:hover {
  background: #c6ff80;
}

  

  