.App{
    overflow: hidden;
    color: #010116;  
}

.button {
  border-radius: 30px;
  border: none;
  color: #fff;  
  font-weight: 600;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
  background: linear-gradient(180deg,#020733 25.71%, #000c71 99.36%);
  box-shadow: 9px 5px 15px 1px rgba(116, 116, 116, 0.45);
  cursor: pointer;
}

.button:hover {
  background: #000c71;
}

  

  