.nav-container {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 9;
    background: #daffb2;
    border-bottom: 1px solid rgba(211, 211, 211, 0.322);
    box-shadow: 0 1px 8px 0 rgba(211, 210, 210, 0.45);
}

.nav-left {
    flex: 1;
    align-items: center;
    display: flex;
    gap: 2rem;
    padding-left: 30px;
}

.nav-name {
    font-size: 1.3rem;
    font-weight: bold;
}

.nav-right {
    display: flex;
    flex: 1;
    justify-content: center;
    font-weight: 500;
}

.nav-list {
    flex: 10;
    padding: 17px 0;
}

.nav-list>ul {
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
}

.nav-list ul li {
    color: var(--black);
}

.nav-list>ul >li:hover {
    cursor: pointer;
    color: var(--green-dark);
}

.nav-button {
    flex: 2;
    margin: 10px 7px;
}